<!-- header -->
<div class="header header-transparent fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <!-- header-logo -->
                <div class="header-logo">
                    <a href=""><img src="../../../assets/images/logo-white.png" alt="Euro Matrimony"></a>
                </div>
                <!-- /header-logo -->
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <!-- navigations -->
                <div id="navigation">
                </div>
                <!-- /.navigations -->
            </div>
            <div class="col-xl-4 col-lg-4 text-right col-md-2 col-sm-12 col-12 d-none d-xl-block d-lg-block">
                <!-- header-btn -->
                <div class="header-btn">
                    <a [routerLink]="['/login']" class="btn btn-primary btn-sm">Register</a>
                    <a [routerLink]="['/login']" class="btn btn-primary btn-sm">Login</a>
                </div>
                <!-- /.header-btn -->
            </div>
        </div>
    </div>
</div>
<!-- /.header -->