 <!-- hero-section -->
 <div class="hero-section-third">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12">
                <!-- search-block -->
                <div class="">
                    <div class="text-center search-head">
                        <h1 class="search-head-title text-white">Happiness is just a click away!</h1>
                        <p class="d-none d-xl-block d-lg-block d-sm-block text-white">Select your perfect partner from here..</p>
                    </div>
                    <!-- /.search-block -->
                    <!-- search-form -->
                    <div class="search-form">
                        <form class="form-row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <!-- select -->
                                <select class="wide">
                                    <option value="Venue Type">Looking For Bride</option>
                                    <option value="Venue">Bride</option>
                                    <option value="Florist">Groom</option>
                                </select>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                                <!-- select -->
                                <select class="wide">
                                    <option value="20" data-display="20yrs">20yrs</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    
                                </select>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                                <!-- select -->
                                <select class="wide">
                                     <option value="20" data-display="30yrs">30yrs</option>
                                     <option value="21">21</option>
                                    <option value="22">22</option>
                                </select>
                            </div>
                            <!-- button -->
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12">
                                <button class="btn btn-default btn-block" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.search-form -->
                </div>
            </div>
        </div>
    </div>
    <div class="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="feature-left">
                        <div class="feature-icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white mb-1">5</h3>
                            <p class="text-white">Countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="feature-left">
                        <div class="feature-icon">
                            <i class="fas fa-smile"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white mb-1">10000+</h3>
                            <p class="text-white">Happy Users</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="feature-left">
                        <div class="feature-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white mb-1">168+</h3>
                            <p class="text-white">Worldwide Cities</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="feature-left">
                        <div class="feature-icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white mb-1">200+</h3>
                            <p class="text-white">Real Weddings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.hero-section -->

<!-- /. howitworks-section-->
<div class="space-medium bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <!-- section title start-->
                    <h2 class="mb10 text-black">Find your Soulmate</h2>
                    <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <!-- feature-1 -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-black">
                <div class="feature">
                    <div class="feature-icon bg-transparent text-default mr-auto ml-auto ">
                        <img class="img-fluid" src="../../../assets/images/03.png" alt="">
                    </div>
                    <div class="feature-content mt30">
                        <h3 class="text-black">Create Profile</h3>
                        <p class="text-black">Duis ultrices tincidunt augue, sit amet ultrices mi cursus ut. Susperetra nunc. </p>
                    </div>
                </div>
            </div>
            <!-- feature-1 -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-black">
                <div class="feature">
                    <div class="feature-icon bg-transparent text-default mr-auto ml-auto ">
                        <img class="img-fluid" src="../../../assets/images/02.png" alt="">
                    </div>
                    <div class="feature-content mt30">
                        <h3 class="text-black">Find Match</h3>
                        <p class="text-black">Duis ultrices tincidunt augue, sit amet ultrices mi cursus ut. Susperetra nunc. </p>
                    </div>
                </div>
            </div>
            <!-- feature-1 -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center text-black">
                <div class="feature">
                    <div class="feature-icon bg-transparent text-default mr-auto ml-auto">
                        <img class="img-fluid" src="../../../assets/images/04.png" alt="">
                    </div>
                    <div class="feature-content mt30">
                        <h3 class="text-black">Start Life</h3>
                        <p class="text-black">Duis ultrices tincidunt augue, sit amet ultrices mi cursus ut. Susperetra nunc. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- howitwoks-section-->


<div class="process-section">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="join_sec text-center">
                    <!-- section title start-->
                    <h2 class="mb10 text-white">Best way to find your true soulmate</h2>
                    <p class="text-white">To find meaningful connections and life partner, Signup for free</p>
                    <a href="register.html" class="btn btn-primary">Join Now</a>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
       
    </div>
</div>
  <!-- real-wedding-section-->
  <div class="space-small ">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <!-- section title start-->
                    <h2 class="mb10">Success Stories</h2>
                    <p>Real inspiration from the real wedding couple. Get ideas for grooms and brides.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="real-wedding-block">
                    <!-- real wedding block -->
                    <div class="real-wedding-img zoomimg">
                        <!-- real wedding img -->
                        <a href="#"><img src="../../../assets/images/success1.jpg" class="img-fluid"></a>
                    </div>
                    <!-- /.real wedding img -->
                    <div class="real-wedding-content ">
                        <!-- real wedding content -->
                        <h3 class="real-wedding-title"><a href="#" class="title">Zayan & Aamaal</a></h3>
                        <div class="real-wedding-meta">
                            <p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim...</p>
                            <a class="read_more" href="#">Read More</a>
                        </div>
                   
                    </div>
                    <!-- /.real wedding img -->
                </div>
                <!-- /.real wedding block -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="real-wedding-block">
                    <!-- real wedding block -->
                    <div class="real-wedding-img zoomimg">
                        <!-- real wedding img -->
                        <a href="#"><img src="../../../assets/images/success2.jpg"class="img-fluid"></a>
                    </div>
                    <!-- /.real wedding img -->
                    <div class="real-wedding-content">
                        <!-- real wedding content -->
                        <h3 class="real-wedding-title"><a href="#" class="title">Aariz & Noor</a></h3>
                        <div class="real-wedding-meta">
                            <p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim...</p>
                            <a class="read_more" href="#">Read More</a>
                        </div>
                        
                    </div>
                    <!-- /.real wedding img -->
                </div>
                <!-- /.real wedding block -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="real-wedding-block">
                    <!-- real wedding block -->
                    <div class="real-wedding-img zoomimg">
                        <!-- real wedding img -->
                        <a href="#"><img src="../../../assets/images/success3.jpg"class="img-fluid"></a>
                    </div>
                    <!-- /.real wedding img -->
                    <div class="real-wedding-content">
                        <!-- real wedding content -->
                        <h3 class="real-wedding-title"><a href="#" class="title">Izaan & Shareena</a></h3>
                        <div class="real-wedding-meta">
                            <p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim...</p>
                             <a class="read_more" href="#">Read More</a>
                        </div>
                       
                    </div>
                    <!-- /.real wedding img -->
                </div>
                <!-- /.real wedding block -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <a href="#" class="btn btn-default btn-lg">See more happy stories</a>
            </div>
        </div>
    </div>
</div>
<!-- /.real-wedding-section-->

<div class="space-medium bg-white">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <!-- section title start-->
                    <h2 class="mb10">Upgrade your membership to connect people</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="upgrade-block">
                   <div class="feature feature-icon-block">
                        <div class="feature-icon"> <img src="../../../assets/images/contact.png" class="img-fluid"></div>
                        <div class="feature-content">
                            <h3 class="mb-3">View unlimited contacts</h3>
                            <p>Proin sollicitudin quis risus ut mattis. Interdum et malesuada fames. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="upgrade-block">
                   <div class="feature feature-icon-block">
                        <div class="feature-icon"> <img src="../../../assets/images/chat.png" class="img-fluid"></div>
                        <div class="feature-content">
                            <h3 class="mb-3">View & Get Emails</h3>
                            <p>Proin sollicitudin quis risus ut mattis. Interdum et malesuada fames. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="upgrade-block">
                   <div class="feature feature-icon-block">
                        <div class="feature-icon"> <img src="../../../assets/images/email.png" class="img-fluid"></div>
                        <div class="feature-content">
                            <h3 class="mb-3">Instant Chat</h3>
                            <p>Proin sollicitudin quis risus ut mattis. Interdum et malesuada fames. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- social-media-section -->
 <div class="social-media-block">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12">
                <h3 class="text-white mb0 mt10">Would you like to connect with us</h3>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12 text-right">
                <div class="social-icons">
                    <a href="#" class="icon-square"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icon-square"><i class="fab fa-twitter"></i> </a>
                    <a href="#" class="icon-square"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="icon-square"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="icon-square"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.social-media-section -->
