label{
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:400;
	font-size:14px;
	color:#5f5e61;
	line-height:2.3;
}
button:focus{
	outline:0;
}
.form-control{
	display:block;
	width:100%;
	padding:14px 16px;
	font-size:14px;
	line-height:1.42857143;
	color:#252328;
	background-color:#fff;
	background-image:none;
	border:1px solid #cfced0;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

input.form-control-sm {
	padding: 6px 10px;
	font-size: 13px
}


input::-webkit-input-placeholder {
	color: #6e6a6b!important
}

input:focus::-webkit-input-placeholder {
	color: #252328!important
}

button.btn {
	font-size: 13px;
	height: 50px;
	font-weight: 400
}

.search-block {
	background-color: #fbfbfb;
	border-radius: 4px;
	padding: 40px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: 0 3px 2px rgba(0, 0, 0, .075)
}

.search-head {
	margin-bottom: 30px;
	padding: 0 115px
}

.search-head-title {
	color: #fff;
	font-size: 52px;
	font-weight: 400
}

.search-form {
	margin: 0 auto;
	background: rgba(0, 0, 0, .5);
	padding: 6px;
	border-radius: 4px
}

::selection {
	color: #252328;
	background: #fde173
}

.search-btn {
	line-height: 3.1;
	position: absolute;
	right: 20px;
	font-size: 16px;
	color: #ff4d4d;
	bottom: 2px
}

.form-control:focus {
	color: #252328;
	background-color: #fff;
	border-color: #bebebe;
	outline: 0;
	box-shadow: 0 0 0 .1rem #f3f3f3
}

.btn {
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	word-wrap: break-word;
	white-space: normal!important
}

.btn-default {
	color: #fff;
	background-color: #fb2d2d;
	border-color: #fb2d2d
}

.btn-default:hover {
	color: #fff;
	background-color: #e60808;
	border-color: #e60808
}

.btn-default:focus {
	color: #fff;
	background-color: #e93c3c;
	border-color: #e93c3c;
	box-shadow: none
}

.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #e93c3c;
	border-color: #e93c3c
}

.btn-primary {
	color: #fff;
	background-color: #fb2d2d;
	border-color: #fb2d2d
}

.btn-primary:hover {
	color: #fff;
	background-color: #e60808;
	border-color: #e60808
}

.btn-primary:focus {
	color: #fff;
	background-color: #03a28f;
	border-color: #03a28f;
	box-shadow: 0 0 0 1px #2d8483
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #282828;
	border-color: #282828
}

.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-success:hover {
	color: #fff;
	background-color: #129e32;
	border-color: #129e32
}

.btn-success:focus {
	color: #fff;
	background-color: #129e32;
	border-color: #129e32;
	box-shadow: 0 0 0 1px #129e32
}

.btn-info {
	color: #fff;
	background-color: #18a2b9;
	border-color: #18a2b9
}

.btn-info:hover {
	color: #fff;
	background-color: #0998b0;
	border-color: #0998b0
}

.btn-info:focus {
	color: #fff;
	background-color: #0998b0;
	border-color: #0998b0;
	box-shadow: 0 0 0 1px #eeb816
}

.btn-white {
	color: #252328;
	background-color: #fff;
	border-color: #fff
}

.btn-white:hover {
	color: #fff;
	background-color: #f04040;
	border-color: #f04040
}

.btn-white:focus {
	color: #fff;
	background-color: #f04040;
	border-color: #f04040;
	box-shadow: 0 0 0 1px #ff4d4d
}

.btn-sm {
	padding: 8px 20px;
	font-size: 12px;
	line-height: 1.5
}

.btn-lg {
	padding: 14px 26px;
	font-size: 14px;
	line-height: 1.3333333
}

.btn:focus {
	outline: 0;
	box-shadow: none
}

.space-small {
	padding-top: 50px;
	padding-bottom: 50px
}

.space-medium {
	padding-top: 80px;
	padding-bottom: 80px
}

.section-title {
	margin-bottom: 60px
}

.bg-default {
	background-color: #ff4d4d!important
}

.bg-primary {
	background-color: #00bda7!important;
	color: #fff
}

.bg-success {
	background-color: #28a745!important
}

.bg-info {
	background-color: #18a2b9!important
}

.bg-white {
	background-color: #fff
}

.text-primary {
	color: #00bda7!important
}

.text-default {
	color: #ff4d4d!important
}

.text-success {
	color: #28a745!important
}

.text-info {
	color: #18a2b9!important
}

.text-white {
	color: #fff
}

.title {
	color: #252328
}

.listnone {
	list-style: none;
	padding: 0
}

.listnone li {
	margin-bottom: 20px
}

.section-block {
	margin: 16px 0
}

.feature {
	margin-bottom: 20px
}

.feature-icon-block {
	text-align: center
}

.feature-icon-block .feature-icon {
	margin-bottom: 25px
}

.feature-left {
	min-height: 143px
}

.feature-left .feature-icon {
	float: left
}

.feature-left .feature-title {
	margin-bottom: 10px
}

.feature-left .feature-content {
	padding-left: 80px
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle
}

.zoomimg {
	position: relative;
	overflow: hidden
}

.zoomimg img {
	max-width: 100%;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s
}

.zoomimg:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.icon-default {
	color: #ff4d4d
}

.icon-primary {
	color: #252328
}

.fa-default {
	color: #ff4d4d
}

.fa-primary {
	color: #252328
}

.testimonial-block {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e6e5e7;
	padding: 26px;
	border-radius: 4px
}

.testimonial-icon {
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	text-align: center
}

.testimonial-text {
	text-align: center;
	font-style: italic;
	line-height: 26px;
	margin-bottom: 40px;
	font-size: 16px
}

.testimonial-meta {
	text-align: center
}

.testimonial-small-text {
	font-size: 12px
}

.form-title {
	font-size: 13px;
	letter-spacing: 2px;
	color: #252328;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px
}

.header-top {
	border-bottom: 1px solid #ea3535;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: 13px;
	min-height: 40px;
	background-color: #ff4d4d;
	color: #fff
}

.header {
	background-color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
	z-index: 9;
	border-bottom: 1px solid #f1f1f1
}

.header-logo {
	padding-top: 10px
}

.header-btn {
	padding-top: 6px
}

.hero-section {
	background: url(/assets/images/hero-image.jpg) no-repeat center;
	background-size: cover;
	padding-bottom: 265px;
	padding-top: 175px
}

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#navigation:after,
#navigation>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#navigation>ul>li {
	float: left;
	display: inline-block;
	margin: 0 25px;
	line-height: 15px;
	padding: 15px 0
}

#navigation>ul>li:hover>a {
	color: #ff4d4d
}

#navigation ul ul {
	position: absolute;
	left: -9999px
}

#navigation ul ul li {
	top: 12px;
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

#navigation li:hover>ul {
	left: auto
}

#navigation li:hover>ul>li {
	height: 43px
}

#navigation ul ul ul {
	margin-left: 100%;
	top: -12px
}

#navigation ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, .15);
	padding: 14px 14px;
	width: 220px;
	font-size: 14px;
	text-decoration: none;
	color: #252429;
	background: #fff
}

#navigation ul ul li:last-child>a {
	border-bottom: 0
}

#navigation ul ul li a:hover,
#navigation ul ul li:hover>a {
	color: #ff4d4d
}

.header-transparent {
	background-color: transparent;
	position: fixed;
	border-bottom-color: rgba(246, 245, 247, .2)
}

.hero-section-third {
	background: url(/assets/images/slider_1.jpg) no-repeat center;
	background-size: cover;
	padding-top: 300px
}

.header-transparent #navigation>ul>li>a {
	color: #fff
}

.hero-section-third .search-head-title {
	font-size: 48px;
	line-height: 68px;
	font-weight: 400;
	text-shadow: 2px 2px #525252
}

.feature-section {
	border-top: 1px solid;
	border-color: rgba(246, 245, 247, .2);
	margin-top: 180px;
	background: #04010185
}

.hero-section-third .feature-left {
	min-height: initial;
	border-right: 1px solid rgba(246, 245, 247, .2);
	padding: 22px
}

.hero-section-third .feature-icon {
	font-size: 20px;
	color: #fff;
	height: 56px;
	width: 56px;
	display: inline-block;
	border: 2px solid;
	border-color: #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 2.6
}

.process-section {
	background: url(/assets/images/heartshape.png) no-repeat center;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #9a0000db
}

.bg-transparent {
	background-color: rgba(246, 246, 246, .1)
}

.footer-widget.newsletter-block .form-control {
	background-color: #454249;
	border: transparent;
	color: #817f85
}

.content {
	padding-top: 60px;
	padding-bottom: 60px
}

.footer {
	background-color: #302d34;
	padding-top: 80px;
	padding-bottom: 40px;
	color: #98969b;
	font-size: 14px
}

.footer-widget {
	margin-bottom: 40px
}

.footer-widget .widget-title {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom: 0;
	padding: 0
}

.footer-widget ul li {
	margin-bottom: 0
}

.footer-widget ul li a {
	color: #98969b;
	line-height: 28px
}

.footer-widget ul li a:hover {
	color: #ff4d4d
}

.social-media-block {
	background-color: #39363d;
	padding-top: 18px;
	padding-bottom: 18px
}

.social-icons {
	margin-top: 2px
}

.icon-square {
	text-align: center;
	background-color: #302d34;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	display: inline-block;
	color: #7f7c7c;
	padding: 11px 12px;
	line-height: 1.3;
	font-size: 14px
}

.icon-square:hover {
	background-color: #e60808;
	color: #fff
}

.tiny-footer {
	background-color: #252428;
	color: #98969b;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px
}

#map {
	height: 400px;
	width: 100%
}

.team-head {
	margin-bottom: 20px
}

.team-content {
	margin-bottom: 30px
}

.real-wedding-block {
	border: 1px solid #e6e5e7;
	padding: 4px;
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 30px
}

.real-wedding-content {
	padding: 20px;
	border-radius: 4px
}

.real-wedding-title {
	margin-bottom: 16px;
	font-size: 18px;
	text-align: center
}

.real-wedding-meta {
	line-height: 14px
}

.real-wedding-img img {
	width: 100%
}

.contact-block {
	margin-bottom: 25px
}

.contact-icon {
	float: left;
	font-size: 26px;
	display: inline-block;
	border: 2px solid #ff4d4d;
	border-radius: 100%;
	padding: 21px;
	height: 70px;
	width: 70px;
	line-height: 1.2;
	color: #ff4d4d;
	text-align: center
}

.contact-content {
	font-size: 15px;
	font-weight: 400;
	padding-left: 100px
}

.couple-form {
	padding: 60px
}

.couple-head {
	text-align: center;
	margin-bottom: 40px
}

.couple-form .form-group {
	margin-bottom: 10px
}

.couple-form-title {
	margin-bottom: 20px
}

.meta {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400
}

.widget {
	margin-bottom: 50px
}

.widget ul {
	margin-bottom: 0;
	list-style: none;
	padding: 0
}

.widget ul li {
	margin-bottom: 8px;
	line-height: 20px
}

.widget ul li:last-child {
	margin-bottom: 0
}

.widget ul li a {
	color: #252328
}

.widget ul li a:hover {
	color: #ff4d4d
}

.widget-title {
	font-size: 14px;
	letter-spacing: 1px;
	color: #252328;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e5e7;
	padding-bottom: 15px;
	line-height: 16px
}

.label {
	padding: 3px 10px;
	line-height: 13px;
	color: #fff;
	font-weight: 400;
	border-radius: 2px;
	font-size: 75%
}

.label-primary {
	background-color: #414da7
}

.label-success {
	background-color: #28a745
}

.body-bg {
	background: #f3f3f3
}

.profile-img {
	float: left
}

.profile-content {
	float: left;
	padding-left: 20px;
	margin-top: 20px
}

input:checked+.slider:before {
	transform: translateX(20px);
	background: #fff
}

input:checked+.slider {
	background: #ff4d4d
}

@media only screen and (max-width:1200px) {
	#navigation>ul>li>a {
		font-size: 14px;
		display: inline-block;
		text-transform: uppercase;
		cursor: pointer;
		color: #424242;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: .7px
	}
	.couple-form {
		padding-top: 60px
	}
}

@media only screen and (max-width:768px) {
	#navigation ul ul ul {
		top: 0
	}
	#navigation ul ul li {
		top: 0
	}
	.search-head {
		margin-bottom: 30px;
		padding: 0 80px
	}
	.hero-section {
		padding-top: 60px;
		padding-bottom: 60px
	}
	.content {
		padding-bottom: 40px;
		padding-top: 40px
	}
	.space-medium {
		padding-bottom: 40px;
		padding-top: 40px
	}
	.feature-left .feature-icon {
		margin-bottom: 15px
	}
	.hero-section-third {
		padding-top: 120px
	}
	.feature-section {
		margin-top: 50px
	}
	.hero-section-third .feature-left {
		border-right: transparent
	}
	.hero-section-third .search-head-title {
		font-size: 34px;
		line-height: 40px
	}
	.header-transparent {
		position: relative;
		background-color: #48484f;
		border-bottom-color: #48484f
	}
}

@media only screen and (max-width:480px) {
	#navigation ul ul ul {
		top: 0
	}
	.header-logo {
		padding-top: 10px;
		padding-bottom: 16px
	}
	.search-block {
		margin-top: 100px
	}
	.search-head {
		margin-bottom: 30px;
		padding: 0 10px
	}
	.search-head-title {
		font-size: 22px
	}
	.hero-section {
		padding-bottom: 70px
	}
	.space-medium {
		padding-top: 40px;
		padding-bottom: 40px
	}
	.contact-icon {
		margin-bottom: 74px
	}
	.content {
		padding-bottom: 40px;
		padding-top: 40px
	}
	.hero-section-third {
		padding-top: 100px
	}
	.feature-section {
		margin-top: 60px
	}
	.hero-section-third .feature-left {
		min-height: initial;
		border-bottom: 1px solid rgba(246, 245, 247, .2);
		padding: 10px
	}
	.header-transparent {
		position: relative;
		background-color: #48484f;
		border-bottom-color: #48484f
	}
}

@media only screen and (max-width:320px) {
	#navigation ul ul ul {
		top: 0
	}
	.header-logo {
		padding-top: 10px;
		padding-bottom: 16px
	}
	.search-block {
		margin-top: 100px
	}
	.search-head {
		margin-bottom: 30px;
		padding: 0 10px
	}
	.search-head-title {
		font-size: 22px
	}
	.hero-section {
		padding-bottom: 70px
	}
	.space-medium {
		padding-top: 40px;
		padding-bottom: 40px
	}
	.contact-icon {
		margin-bottom: 74px
	}
	.content {
		padding-bottom: 40px;
		padding-top: 40px
	}
}

.real-wedding-meta p {
	font-size: 16px;
	line-height: 25px
}

.real-wedding-meta {
	text-align: center
}

.real-wedding-meta a {
	color: #fb2d2d
}

.upgrade-block {
	background: #f6f5f7;
	box-shadow: #e2e2e2 1px 1px 6px;
	padding: 25px
}

.mem_button {
	padding-top: 40px
}

#navigation ul li a {
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	color: #424242;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: .7px
}

#navigation ul li a:hover {
	color: #fb2d2d
}

.view_all a {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 21px;
	color: #fb2d2d!important;
	font-weight: 500
}
.search-form .wide {
	-webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 1px solid #cfced0;
    border-radius: 2px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 40px;
    outline: none;
    padding: 6px 14px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    color: #343031;
}
.header-btn a {
	margin-right: 5px;
}