@charset "UTF-8";

.couple-bg-image{background:url("/assets/images/re_bg.jpg") no-repeat;background-size:cover;height:100%}
img{width:auto;max-width:100%;height:auto;margin:0;padding:0;border:none;line-height:normal;vertical-align:middle}
.icon-1x{font-size:19px}
.icon-2x{font-size:32px}
.icon-3x{font-size:50px}
.icon-4x{font-size:60px}
.icon-default{color:#ff4d4d}
.form-title{font-size:13px;letter-spacing:2px;color:#252328;text-transform:uppercase;font-weight:600;margin-bottom:20px}
.content{padding-top:60px;padding-bottom:60px}
.user-img{float:left;padding-right:15px;display:inline-block}
.user-name{font-size:15px;color:#252328}
.couple-form{padding:60px}
.couple-head{text-align:center;margin-bottom:40px}
::ng-deep .st-tab .nav-item .nav-link{border:1px solid #e6e6e6;margin-right:0;background-color:#e6e6e6}
.couple-form .form-group{margin-bottom:10px}
.couple-form-title{margin-bottom:20px}
::ng-deep .st-tab .nav-tabs{border-bottom:2px solid #fff}
::ng-deep .st-tab .tab-content{padding:50px 40px;background-color:#fff;border:1px solid #ebebeb;border-color:#ebebeb;margin-top:-2px}
::ng-deep .st-tab .nav-tabs .nav-item.show .nav-link,.st-tab .nav-tabs .nav-link.active{color:#222528;background-color:#fff;border-color:#ebebeb #ebebeb #fff #ebebeb}
::ng-deep .st-tab .nav-tabs{margin-bottom:0}
::ng-deep .tablist .nav-item .nav-link{display:block;padding:16px 44px;border:1px solid #ebebeb;border-radius:0;background-color:#eee;margin-bottom:0;color:#6f6d72;text-align:center;margin-right:2px}
::ng-deep .nav-tabs .nav-item .nav-link{display:block;padding:16px 44px;border:1px solid #ebebeb;border-radius:0;background-color:#eee;margin-bottom:0;color:#6f6d72;text-align:center;margin-right:2px}
::ng-deep .nav-tabs .nav-link:hover,.st-tab .nav-tabs .nav-link:focus{color:#ff4d4d;background-color:#fff;border-color:#ebebeb #ebebeb #fff #ebebeb}
.post-img{position:relative}
.post-img img{width:100%}
.post-content{padding:26px;border:1px solid #e5e6e7;background-color:#fff;text-align:center;border-radius:0 0 4px 4px}
.post-title{color:#252328}
.post-heading{font-size:24px;line-height:34px;margin-bottom:20px}
.meta{font-size:12px;text-transform:uppercase;font-weight:400}
.user-title{margin-bottom:0;font-weight:400;font-size:16px}
.label{padding:3px 10px;line-height:13px;color:#fff;font-weight:400;border-radius:2px;font-size:75%}
.body-bg{background:#f3f3f3}.user-icon{height:35px;width:35px;display:inline-block;margin-right:12px}
.profile-img{float:left}
.profile-content{float:left;padding-left:20px;margin-top:20px}
.profile-name{margin-bottom:0}
.custom-label{position:relative;left:128px;bottom:75px;background-color:#fff;border:1px solid #f0f0f0;padding:6px 10px}
input:checked+.slider:before{transform:translateX(20px);background:#fff}
input:checked+.slider{background:#ff4d4d}
@media only screen and (max-width:1200px){.couple-form{padding-top:60px}}
@media only screen and (max-width:768px){.content{padding-bottom:40px;padding-top:40px}.couple-bg-image{padding-bottom:260px}}@media only screen and (max-width:480px){.content{padding-bottom:40px;padding-top:40px}
.st-tab .tab-content{padding:40px 20px}}
@media only screen and (max-width:320px){.content{padding-bottom:40px;padding-top:40px}
.st-tab .tab-content{padding:40px 20px}}
.profile_image h4{font-size:16px;padding-top:10px;margin-bottom:0}
.profile_image p{font-size:14px;margin-bottom:5px;display:block}
.profile_image a{font-size:14px;font-weight:500}