
<body class="couple-bg-image">
    <div class="couple-form">
        <div class="container">
            <div class="row ">
                <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12 sign_tab">
                    <!-- register-head -->
                    <div class="couple-head">
                        <a routerLink="/login" routerLinkactive="active"><img src="../../assets/images/logo-white.png" alt="Euro Matrimony"></a>
                    </div>
                    <!-- /register-head -->
                    <!-- st-tab -->
                    <ngb-tabset [destroyOnHide]="false" [ngClass]="'st-tab'">
              
                      <ngb-tab title="Register">
                        <ng-template ngbTabContent>
                          <div class="container">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                  <!-- form-heading-title -->
                                  <h3>Browse 10,000 More profiles, Register Free.</h3>
                                  <p>We don't post anything without your permission.</p>
                                  <!-- /form-heading-title -->
                                  <!-- register-form -->
                                  <form>
                                      <!-- form -->
                                      <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="profile">Profile Creating For</label>
                                                <select class="form-control" id="profile_for" name="profile_for" data-valid="required">
                                                  <option value="">Select </option>
                                                  <option value="7">Self</option> 
                                                  <option value="8">Son</option> 
                                                  <option value="9">Daughter</option> 
                                                  <option value="10">Brother</option> 
                                                  <option value="11">Sister</option> 
                                                  <option value="12">Friend</option> 
                                                  <option value="13">Relative</option> 
                                                </select>
                                                
                                            </div>
                                        </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <!-- Text input-->
                                              <div class="form-group">
                                                  <label class="control-label sr-only" for="name"></label>
                                                  <input id="name" type="text" name="name" placeholder="Name" class="form-control" required>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="name"></label>
                                                <input id="mobile" type="text" name="mobile" placeholder="Mobile" class="form-control" required>
                                            </div>
                                        </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <!-- Text input-->
                                              <div class="form-group service-form-group">
                                                  <label class="control-label sr-only" for="email"></label>
                                                  <input id="email" type="email" placeholder="Email" class="form-control" required>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <!-- Text input-->
                                              <div class="form-group service-form-group">
                                                  <label class="control-label sr-only" for="passwordregister"></label>
                                                  <input id="passwordregister" type="passwordregister" name="password" placeholder="Password" class="form-control" required>
                                              </div>
                                          </div>
                                          
                                          <!-- Button -->
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <button type="submit" name="singlebutton" class="btn btn-default">Sign up</button>
                                          </div>
                                      </div>
                                  </form>
                                  <!--/.form -->
                                  <p class="mt-2"> Already a member? <a [routerLink]="['/login']" class="wizard-form-small-text"> Login</a></p>
                              </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                       
                      <ngb-tab >
                        <ng-template ngbTabTitle>Login</ng-template>
                        <ng-template ngbTabContent>
                          <div class="container">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                  <!-- login-form-heading-title  -->
                                  <h3>Sign In to Your Account</h3>
                                  <p>Sign in to select your perfect partner...</p>
                                  <!-- /.login-form-heading-title  -->
                                  <!-- login-form-->
                                  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                      <div class="row">
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <!-- Text input-->
                                              <div class="form-group">
                                                  <label class="control-label sr-only" for="username"></label>
                                                  <input type="email" formControlName="email" placeholder="User Name" class="form-control" autocomplete="off">
                                              </div>
                                              <!-- <div *ngIf="f.email.errors.required">Email is required</div> -->
                                         
                                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                              </div>
                                          </div>
                                          <!-- Text input-->
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <div class="form-group service-form-group">
                                                  <label class="control-label sr-only" for="passwordlogin"></label>
                                                  <input type="password" formControlName="password" placeholder="Password" class="form-control" >
                                              </div>
                                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                              </div>
                                          </div>
                                          <!--  Buttons -->
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <button type="submit" class="btn btn-default">Login</button>
                                          </div>
                                      </div>
                                  </form>
                                  <!-- /.login-form -->
                                  <p class="mt-2"> Don't have an account? Create a New Account.<a [routerLink]="['/login']"> Click here</a></p>
                              </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.couple-sign up -->
    </body>
