<!-- footer-section -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <!-- footer-widget -->
                <div class="footer-widget">
                    <a href=""><img src="../../../assets/images/footer-logo.png" alt="" class="mb20"></a>
                    <p class="mb10">Vestibulum ante elit, convallis quis nibh in, vulputate rhoncus massa. In hac habitasse platea dictumst.</p>
                    <p>In hac habitasse platea dictumst simple dummy content here.</p>
                </div>
            </div>
            <!-- /.footer-widget -->
            <!-- footer-widget -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="footer-widget">
                    <h3 class="widget-title">
                        Contact Address
                    </h3>
                    <p class="d-flex"><i class="fas fa-fw fa-map-marker-alt text-default pr-3 pt-1"></i>4998 Elk Creek Road Canton,
                        <br> GA 30114</p>
                    <p class="mb0 d-flex"><i class="fas fa-fw fa-phone-volume text-default pr-3 pt-1"></i>+0-800-1234-123</p>
                    <p class="mb0 d-flex"><i class="fas fa-fw fa-envelope text-default pr-3 pt-1 "></i>info@euromatrimony.com</p>
                </div>
            </div>
            <!-- /.footer-widget -->
            <!-- footer-widget -->
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer-widget">
                    <h3 class="widget-title">
                        About Company
                    </h3>
                    <ul class="listnone">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                        <li><a href="#">Meet The Team</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-widget -->
            <!-- /.footer-widget -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-12">
                <div class="footer-widget newsletter-block">
                    <h3 class="widget-title">
                       Subscribe to newsletter
                    </h3>
                    <form>
                        <div class="form-group">
                            <label for="email" class="sr-only"></label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email Address">
                        </div>
                    </form>
                    <a href="#" class="btn btn-default">Subscribe</a>
                </div>
            </div>
            <!-- /.footer-widget -->
        </div>
    </div>
</div>
<!-- tiny-footer-section -->
<div class="tiny-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <p>© 2020 Euro Matrimony. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.tiny-footer-section -->