/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
body{
	font-family:Rubik,sans-serif;
	font-size:16px;
	line-height:26px;
	color:#6f6d72;
	background-color:#f6f5f7;
	text-rendering:optimizeLegibility;
	font-weight:400
}
h1,h2,h3,h4,h5,h6{
	color:#252328;
	margin:0 0 15px 0;
	font-weight:400;
	font-family:Rubik,sans-serif;
	}
h1{
	font-size:36px;
}
h2{
	font-size:28px;
	line-height:38px;
}
h3{
	font-size:20px;
	line-height:28px;
	}
h4{
	font-size:18px;
	line-height:26px;
}
h5{
	font-size:16px;
	line-height:26px;
}
h6{
	font-size:14px;
}
p{
	margin:0 0 20px 0;
	-webkit-font-smoothing:antialiased;
}
p:last-child{
	margin:0;
}
a{
	color:#252328;
	-webkit-font-smoothing:antialiased;
}
a:hover{
	color:#ff4d4d;text-decoration:none;
}
a:active,a:hover{
	outline:0;
	text-decoration:none;
}
ul{
	-webkit-font-smoothing:antialiased;
}
label{
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:400;
	font-size:14px;
	color:#5f5e61;
	line-height:2.3;
}
button:focus{
	outline:0;
}
.form-control{
	display:block;
	width:100%;
	padding:14px 16px;
	font-size:14px;
	line-height:1.42857143;
	color:#252328;
	background-color:#fff;
	background-image:none;
	border:1px solid #cfced0;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
input.form-control-sm{
	padding:6px 10px;
	font-size:13px;
}
select.form-control{
	color:#5f5e61;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-position:94% 50%;
	background-repeat:no-repeat;
	padding-right:15px;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:0 2px 1px rgba(0,0,0,.075);
	height:50px;padding:6px 16px;border:1px solid #e8e8e8;
}
input::-webkit-input-placeholder{
	color:#6e6a6b!important;
}
input:focus::-webkit-input-placeholder{
	color:#252328!important;
}
button.btn{
	font-size:13px;
	height:50px;
	font-weight:400;
}
::selection{
	color:#252328;
	background:#fde173;
}
.form-control:focus{
	color:#252328;
	background-color:#fff;
	border-color:#bebebe;
	outline:0;
	box-shadow:0 0 0 .1rem #f3f3f3;
}
.custom-control{
	position:relative;
	display:block;
	min-height:1.5rem;
	padding-left:1.5rem;
}
.custom-control-input:checked~input[type=checkbox]{
	background:#3d404e;
	border:#7f83a2 1px solid;
}
.custom-control-input{
	position:absolute;
	z-index:-1;
	opacity:0;
}
.custom-control-label{
	margin-bottom:0;
}
.custom-control-input:checked~.custom-control-label::before{
	color:#fff;
	background-color:#ff4d4d;
}
.custom-control-label::after{
	position:absolute;
	top:7px;
	left:0;
	display:block;
	width:1rem;
	height:1rem;
	content:"";
	background-repeat:no-repeat;
	background-position:center center;
	background-size:50% 50%;
}
.custom-control-label::before{
	position:absolute;top:7px;
	left:0;
	display:block;
	width:1rem;
	height:1rem;
	pointer-events:none;
	content:"";
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:#dadada;
}
.custom-control-input:focus~.custom-control-label::before{
	box-shadow:none;
}
.btn{
	padding:10px 20px;
	font-size:12px;
	font-weight:500;
	border-radius:2px;
	text-transform:uppercase;
	letter-spacing:1px;-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;word-wrap:break-word;
	white-space:normal!important;
}
.btn-default{
	color:#fff;
	background-color:#fb2d2d;
	border-color:#fb2d2d;
}
.btn-default:hover{
	color:#fff;
	background-color:#e60808;
	border-color:#e60808;
}
.btn-default:focus{
	color:#fff;
	background-color:#e93c3c;
	border-color:#e93c3c;
	box-shadow:none;
}
.btn-default:not(:disabled):not(.disabled).active,.btn-default:not(:disabled):not(.disabled):active{
	color:#fff;
	background-color:#e93c3c;
	border-color:#e93c3c;
}
.btn-white{
	color:#252328;
	background-color:#fff;
	border-color:#fff;
}
.btn-white:hover{
	color:#fff;
	background-color:#f04040;
	border-color:#f04040;
}
.btn-white:focus{
	color:#fff;
	background-color:#f04040;
	border-color:#f04040;
	box-shadow:0 0 0 1px #ff4d4d;
}
.btn-sm{
	padding:8px 20px;
	font-size:12px;
	line-height:1.5;
}
.btn-lg{
	padding:14px 26px;
	font-size:14px;
	line-height:1.3333333;
}
.btn:focus{outline:0;box-shadow:none}
.btn-default-link{font-size:13px;color:#ff4d4d;font-weight:500;text-transform:uppercase;letter-spacing:0;border-bottom:1px solid #ff4d4d;padding-bottom:1px}
.btn-default-link:hover{color:#e93c3c;text-decoration:none;border-color:#e93c3c}
.btn-white-link{font-size:13px;color:#fff;font-weight:500;text-transform:uppercase;letter-spacing:0;border-bottom:1px solid #fff;padding-bottom:1px}
.btn-white-link:hover{color:#000;text-decoration:none;border-color:#000}
.mt0{margin-top:0}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt60{margin-top:60px}
.mt70{margin-top:70px}
.mt80{margin-top:80px}
.mt100{margin-top:100px}
.mt-20{margin-top:-20px}
.mt-40{margin-top:-40px}
.mt-60{margin-top:-60px}
.mt-80{margin-top:-80px}
.bg-default{background-color:#ff4d4d!important}
.bg-white{background-color:#fff}
.text-default{color:#ff4d4d!important}
.text-white{color:#fff}
.title{color:#252328}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
